{% extends 'base.html.twig' %}

{% block title %}Create a New Article{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1>Create a New Article</h1>

        {{ form_start(form) }}
        
        <div class="mb-3">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'rows': 5} }) }}
            {{ form_errors(form.content) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.picture) }}
            {{ form_widget(form.picture, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.picture) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.category) }}
            Or <a href="create/category"> create a new one </a>
        </div>

        <button type="submit" class="btn btn-primary">Create Article</button>
        
        {{ form_end(form) }}
    </div>
{% endblock %}

